@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #020d1b;
}

a,
button,
input,
textarea {
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
}
