.me-elena {
  background: url(../assets/elena-photo.jpg) top center / 450px no-repeat;

  &__container {
    max-width: 360px;
    margin: 0 auto;
    padding: 17px 20px 63px;
    box-sizing: border-box;
  }

  &__name {
    margin: 0 0 155px;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  &__title {
    margin: 0 0 4px;
    font-weight: 1000;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;

    &-subscribers,
    &-time {
      color: #ffd400;
    }
  }

  &__description {
    max-width: 303px;
    margin: 0 0 7px;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #fff;

    &-mark {
      color: #ffd400;
    }
  }

  &__exceptions {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 7px;
    max-width: 168px;
    margin: 0 0 41px;

    &-item {
      font-weight: 400;
      font-size: 13px;
      line-height: 100%;
      text-decoration: line-through;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__advantages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 39px;
    padding: 0;
    list-style-type: none;

    &-item {
      display: flex;
      align-content: inherit;
      gap: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: #fff;

      &::before {
        content: '';
        display: inline-block;
        flex: 0 0 auto;
        width: 19px;
        aspect-ratio: 1;
        background: url(../assets/list-item-icon.svg) center / contain no-repeat;
      }
    }
  }

  &__video {
    max-width: 320px;
    min-height: 570px;
    margin: 0 auto 40px;
    border-radius: 10px;
    background: #fff;
  }

  &__cases {
    &-title {
      margin: 0 0 5px;
      font-weight: 1000;
      font-size: 30px;
      line-height: 120%;
      text-transform: uppercase;
      color: #fff;

      &-mark {
        color: #ffd400;
      }
    }

    &-description {
      margin: 0 0 15px;
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      color: #fff;

      &-mark {
        color: #ffd400;
      }
    }

    &-slider {
      margin: 0 0 20px;

      &-slide {
        margin: 0;

        &-image {
          display: block;
          max-width: 100%;
          height: auto;
          border-radius: 10px;
        }
      }

      & .swiper {
        padding-bottom: 25px;

        &-pagination {
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;

          &-bullet {
            display: block;
            flex: 0 0 auto;
            width: 6px;
            height: 6px;
            margin: 0;
            background-color: #ffffff;
            opacity: 1;

            &-active {
              width: 10px;
              height: 10px;
              background-color: #ffd400;
            }
          }
        }
      }
    }
  }

  &__price {
    margin: 0 auto 30px;
    font-weight: 1000;
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 25px 0 #08151d;

    &-info {
      color: #fff;
    }

    &-counter {
      color: #ffd400;
    }
  }

  &__buy {
    &-link {
      display: block;
      padding: 13px 20px 20px;
      border-radius: 10px;
      background-color: #fc2f3d;
      box-shadow: 0 8px 0 0 #b60b16;
      transition: background-color ease-out 0.2s;

      &:hover {
        background-color: #e22a36;
      }

      &:active {
        background-color: #c92530;
      }

      &-content {
        margin: 0 auto;
        max-width: 250px;
        font-weight: 1000;
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
      }

      &-old {
        font-weight: 300;
        text-decoration: line-through;
        color: #ffa0a6;
      }
    }
  }
}
